{% include "header.html" %}

        <!-- Page Header-->
        <header class="masthead" style="background-image: url({{ url_for('static', filename='assets/img/about.jpg') }})">
            <div class="container position-relative px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <div class="page-heading">
                            <h1>About Me</h1>
                            <span class="subheading">Python Developer & Test Engineer</span>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- Main Content-->
        <main class="mb-4">
            <div class="container px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                         <p>I am passionate engineer who wants to continue her professional carrier as a phyton developer. My only condition that will not change in my professional life is continuous learning.</p>
                        <p> I have 7 years hand-on experiences as a software engineer. I have a Bachelor degree and Master Degree in Software Engineering.</p>
                        <p>I had started in my professional carrier as a Java Backend & Frontend developer.</p>
                        <p>I have been working currently as a Test Engineer in defence industry. </p>

                    </div>
                </div>
            </div>
        </main>

{% include "footer.html" %}